body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Navbar */
nav.navbar.navbar-expand.navbar-light.bg-dark {
  background-color: #24292e;
  height: 70px;
}

/* Header */
.header {
  height: 150px;
  border-bottom: rgb(207, 215, 222);
  border-bottom-width: thin;
  border-bottom-style: double;
}

/* Info */

.image {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: -34px;
  margin-left: 7%;
}

.repositories {
  width: 10%;
  height: 0%;
  margin-left: 45%;
  padding-top: 8%;
  font-weight: 600;
  font-size: 22px;
}
.starredrepositories {
  margin-left: 69%;
  padding-top: -4%;
  font-weight: 600;
  font-size: 22px;
  padding-top: -4%;
  margin-top: -1.7%;
}
#repostar {
  width: 70%;
}
#repos {
  width: 90%;
  height: 13%;
  margin-left: 342%;
  font-weight: 600;
  font-size: 22px;
}
.starred {
  width: 18%;
  height: 0%;
  margin-left: 75%;
  font-weight: 600;
  font-size: 22px;
}

.repoName {
  margin-left: -280%;
  margin-top: 61%;
  font-size: 31px;
  padding-bottom: 18%;
  border-bottom: rgb(207, 215, 222);
  border-bottom-style: double;
  border-block-width: thin;
}

.repoNameRep {
  margin-left: -439%;
  margin-top: 95%;
  font-size: 31px;
  padding-bottom: 18%;
  border-bottom: rgb(207, 215, 222);
  border-bottom-style: double;
  border-block-width: thin;
}

.resultRepoName {
  margin-left: -135%;
  margin-top: 35%;
  font-size: 31px;
  padding-bottom: 18%;
  border-bottom: rgb(207, 215, 222);
  border-bottom-style: double;
  border-block-width: thin;
}

a {
  color: var(--color-accent-fg);
  text-decoration: none;
}

.starIcon {
  margin-top: -27%;
  font-size: 17px;
  font-weight: 300;
  padding-left: 46%;
}
svg.svg-inline--fa.fa-star {
  color: #eac54f;
}

.name {
  font-size: 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 24px;
  color: var(--color-fg-muted);
  margin-left: 18%;
}

.counterRepo {
  display: inline-block;
  text-align: center;
  width: 19px;
  padding-top: 1px;
  height: 18px;
  font-size: 12px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 18px;
  background-color: lightgrey;
  object-fit: cover;
  border-radius: 50%;
}

.counterRepoStarred {
  display: inline-block;
  text-align: center;
  width: 19px;
  padding-top: 1px;
  height: 18px;
  font-size: 12px;
  margin-left: 6px;
  font-weight: 500;
  line-height: 18px;
  background-color: lightgrey;
  object-fit: cover;
  border-radius: 50%;
}

.logo {
  width: 5%;
  height: 61px;
  margin-left: 5%;
  margin-top: 4px;
  object-fit: cover;
  border-radius: 50%;
}
.githublogo {
  width: 8%;
  height: 62px;
  margin-left: 81.8%;
  margin-top: 4px;
}

.authorization {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -0.5px;
  margin-bottom: 16px;
  color: var(--color-fg-default);
  text-align: center;
  text-shadow: none;
  background-color: transparent;
  border: 0;
  width: 340px;
  margin: 0 auto;
  margin-top: 4%;
}
.logoGit {
  width: 98%;
}
.login {
  background: white;
}
.login:hover {
  background: #2ba44e;
  color: white;
}
